/********************************* Selectors CSS STYLE **********************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fff2ea; 
}

heading {
    background-color: #dfbb9d;
}
/* #DFBB9D  for nav bar*/

/********************************* CLASS CSS STYLE **********************************/


/********************************* ID CSS STYLE **********************************/

/********************************* MEDIA QUERY CSS STYLE **********************************/


