/********************************* Selectors CSS STYLE **********************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F7E2D6; 
}

h1 {
    font-size : 6rem;
}

/* #DFBB9D  for nav bar*/

footer {
    background-color: #DFBB9D;
}

/********************************* CLASS CSS STYLE **********************************/
.top-container {
    background-color: #dfbb9d;
}

/********************************* ID CSS STYLE **********************************/

/********************************* MEDIA QUERY CSS STYLE **********************************/


